body {
  background-color: #F5F5F5;
}
body .mmm_coupon {
  max-width: 750px;
  min-width: 320px;
  margin: 0 auto;
}
body .mmm_coupon .mmm_header {
  height: 50px;
}
body .mmm_coupon .mmm_header .title {
  background-color: #F4483E;
  line-height: 50px;
  color: #fff;
  text-align: center;
  font: bold 20px/50px "simsun";
}
body .mmm_coupon .mmm_header .title a:first-child {
  width: 50px;
  background: url("") 0 center no-repeat;
  color: #fff;
  font: bold 30px/50px "simsun";
  margin-left: 0px;
}
body .mmm_coupon .mmm_section a {
  display: inline-block;
  width: 32%;
  padding: 20px;
}
body .mmm_coupon .mmm_section a img {
  width: 100%;
}
body .mmm_coupon .mmm_section a p {
  text-align: center;
}
