<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>白菜价</title>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="lib/font/top/iconfont.css">
    <link rel="stylesheet" href="lib/font/xiaoxi/iconfont.css">
    <link rel="stylesheet" href="css/baicaijia.css">
    <script src="lib/template.js"></script>
    <script src="lib/jquery/jquery.min.js"></script>
    <script src="lib/swipe.js"></script>
    <script src="js/baicaijia.js"></script>
    <script type="text/html" id="ulLis">
        {{if result}}
        {{each result as value i}}
        <li id="{{value.titleId}}">{{value.title}}</li>
        {{/each}}
        {{/if}}
    </script>
    <script type="text/html" id="list">
        {{if result}}
        {{each result as value i}}
        <div class="goods clearfix">
            <div class="imgshow">
                {{#value.productImg}}
            </div>
            <div class="info">

                <p>{{#value.productName}}</p>

                <p>{{#value.productPrice}}</p>

                {{#value.productCouponRemain}}

                {{#value.productCoupon}}

                {{#value.productHref}}
            </div>
        </div>
        {{/each}}
        {{/if}}
    </script>
</head>
<body>
<div class="mmm_baicaijia">
    <header class="mmm_header" name="top">
        <div class="title">
            白菜价
            <a href="index.html">&lt;</a>
            <a href="http://m.manmanbuy.com/?o=download"></a>
        </div>
    </header>

    <nav class="mmm_nav">
        <ul id="navgation" class="clearfix">

        </ul>
    </nav>

    <div class="mmm_section">
        <!--<div class="goods clearfix">
            <div class="imgshow">
                <img src="http://seller.manmanbuy.com/ProPic/2016100009230957088.jpg">
            </div>
            <div class="info">

                <p><span class="b">[包邮]</span>双十一红包 今日开启</p>

                <p><em>¥</em>0.0
                    <del>¥0</del>
                </p>

                <div class="bar clearfix"><a
                        href="http://shop.m.taobao.com/shop/coupon.htm?activityId=27a14c9fc6bb4a48b917d567fcf8f664&amp;sellerId=2246833798"
                        class="goquan" target="_blank"></a><i><em style="width:60%;"></em><span>60%</span></i><b>已领82张</b>
                </div>


                <a href="http://shop.m.taobao.com/shop/coupon.htm?activityId=27a14c9fc6bb4a48b917d567fcf8f664&amp;sellerId=2246833798" target="_blank">点此领15元优惠券</a>

                <a biz-itemid="56297410_8818824_54778388" isconvert="1" href="http://s.click.taobao.com/3HlIdQx" target="_blank">下单链接</a>
            </div>
        </div>-->

    </div>

    <footer class="mmm_footer">
        <div class="message">
            <a href="#">登录</a>
            <a href="#">注册</a>
            <a id="back" href="#top"><i class="iconfont icon-CombinedShapeCopy"></i>返回顶部</a>
        </div>
        <p><a href="http://m.manmanbuy.com/?o=download" class="app">手机APP下载</a><a href="index.html"> 慢慢买手机版 -- </a><span
                class="stage">掌上比价平台</span></p>
        <p><a href="index.html">m.manmanbuy.com</a></p>
    </footer>
</div>
</body>
</html>